body {
  margin: 0;
  padding: 0;
}
.hintergrund
{
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.text-overlay
{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.text-overlay h1
{
  font-size: 4.2rem;
  white-space: nowrap;
  color: white;
  text-align: center;
}
.text-overlay p
{
  font-size: 1.75rem;
  white-space: nowrap;
  color: white;
}
.text-overlay a {
  font-size: 1.75rem;
  white-space: nowrap;
  color: white;
  text-align: center;
  vertical-align: center;
}
.text-overlay p {
  display: inline;
  text-align: center;
  vertical-align: middle;
}
